# Maven & Build Output
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Credenciais e Arquivos Sensíveis / Configurações Locais
*firebase*.json
serviceAccountKey.json
application-local.properties
application-local.yml
application-secrets.properties
.env

.mvn
.mvn/**